body {
  background-color: #222831;
  color: #ffffff;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
  width: 100%;
}

nav {
  display: block;
  margin: 0 auto;
}

.skills h2 {
  color: #00adb5;
  padding-bottom: 20px;
}

h3 {
  color: #222831;
}

.skills p {
  color: #00adb5;
}

h4 {
  color: white;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

ul {
  padding: 5px;
}

li {
  display: inline;
  list-style-type: none;
  padding: 15px;
}

a {
  color: #00adb5;
  text-decoration: none;
}

a:hover {
  color: white;
  transition: 0.5s;
}

.navbar {
  display: block;
  margin: 0 auto;
}

.welcome {
  background: rgba(0, 173, 181, 0.3);
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
}

.me {
  border-radius: 10px;
  margin: 20px;
}

.about {
  padding-top: 30px;
}

.me-text {
  padding: 30px 0;
  vertical-align: bottom;
}

.skills {
  background-color: #eeeeee;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 0;
}

.portfolio {
  margin-top: 50px;
  padding: 20px 0;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image {
  position: relative;
  width: 364px;
  max-width: 100%;
  margin: 10px auto;
}

.image__img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.35s;
  border-radius: 9px;
}

.image__overlay--primary {
  background-color: #222831;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-weight: bold;
  padding: 20px;
}

.image__button {
  border-radius: 25px;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

.btn:hover {
  color: #00adb5;
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 50px 10px;
  background-color: rgba(0, 173, 181, 0.3);
  color: #ffffff;
  border-radius: 10px;
}

.start,
.interested,
.action {
  display: flex;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  padding: 10px 20px;
}

.start {
  margin: 20px auto;
}

.action-button {
  color: #ffffff;
  font-size: 20px;
  border: 3px solid #222831;
  border-radius: 25px;
  margin-bottom: 10px;
}

.action-button:hover {
  background-color: #222831;
  color: #ffffff;
}

.footer {
  margin: 20px;
}

@media screen and (min-width: 425px) {
  .skills {
    margin: 40px;
  }

  .skill-block {
    margin: 30px 0;
  }
}

@media screen and (min-width: 768px) {
  ul {
    font-size: 20px;
  }

  .skills {
    margin: 40px 150px;
  }

  .skill-block {
    margin: 50px 0;
  }

  .portfolio {
    padding: 40px 0;
  }

  .projects {
    padding: 30px;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .logo {
    margin: 0 0 0 auto;
  }

  .navbar {
    margin: 0 auto 0 0;
  }

  .welcome {
    margin: 100px auto;
  }

  .me-section {
    display: flex;
    padding: 0 30px;
  }

  .skills {
    margin: 100px 250px;
  }

  .portfolio {
    padding: 40px 50px;
  }

  .projects {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .welcome {
    margin: 150px;
  }

  .me-section {
    padding: 0 150px;
  }

  .skills {
    margin: 100px 350px;
  }

  .contact {
    margin: 100px 150px;
  }
}

@media screen and (min-width: 1900px) {
  .contact {
    margin: 100px 300px;
  }
}
